<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.example.BlogMapper">
	<!-- 
	   태그 : <태그  속성> 텍스트 </태그>
	    id 속성 : 외부(DAO)에서 해당 태그를 지칭하는 (호출하는) 이름, 중복안됨  
	    resultType 속성 : 결과에 대한 속성(select문은 95% VO속성이다)
	       select문에서 집계합수를 사용하면 resultType int 이다.    
	    parameterType 속성 : 대부분 VO속성이다(VO 아니면 전달하는 변수의 자료형이다.)
		<select id="" resultType=""></select>
	    <select id="" resultType="" parameterType=""></select>
	    
	    resultType은 없다. 이유는 무조건 int (숫자)
	    <update id="" parameterType=""></update>
	    <insert id="" parameterType=""></insert>
	    <delete id="" parameterType=""></delete>
	 -->
	<select id="custList" resultType="mybatis.Sam.VO">
	    select * from customer order by custid
	</select>
	
	<select id="custOne" parameterType="String" resultType="mybatis.Sam.VO">
		select * from customer where custid = #{custid} 
	</select>
	
	<insert id="custIns" parameterType="mybatis.Sam.VO">
		insert into customer(custid, name, address, phone)
		values(customer_seq.nextval,#{name},#{address},#{phone})
	</insert>
	
	<delete id="custDel" parameterType="mybatis.Sam.VO">
		delete from customer where custid = #{custid}
	</delete>
	
	<update id="custUpdate" parameterType="mybatis.Sam.VO">
		update customer set name=#{name}, address=#{address}, phone=#{phone}
		where custid = #{custid}
	</update>
	
</mapper>
