<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.example.BlogMapper">
	<!-- 주석처리방법
	태그 : <태그 속성> 텍스트 </테그>
	id 속성 : 외부(DAO)에 해당 태그를 지칭하는 (호출하는) 이름 , 중복안됨
	resultType 속성 : 결과에 대한 속성(select문은 95% VO속성이다)
	 select 문에서 집계함수를 사용하면 resultType은 int 이다.
	parameterType 속성 : #{컬럼명} 의 자료형 , 대부분 VO 속성이다.
	(파라메터타입이 VO가 아니면 전달하는 변수의 자료형이다)
	<select id="" resultType=""></select>
	 <select id="" resultType="" parmeterType = ""></select>
	 
	 결과값이 하나 이상이면 무조건 VO 타입
	 
	 resultType은 없다. 이유는 무조건 결과값이 int(숫자)
	 <update id="" parameterType=""</update>
	 <insert id="" parameterType=""</insert>
	 <delete id="" parameterType=""></delete>
	--> 
	 <select id="custList" resultType="mybatis.com.ict.edu.VO">
	 select * from customer order by custid
	 </select>
	 
	 <!--Ex01에서 custid를 String으로 받아서 파라메터타입도 스트링으로받음  -->
	 <select id="custOne" parameterType="String" resultType="mybatis.com.ict.edu.VO">
	 select * from customer where custid = #{custid} 
	 </select>
	 
	 <insert id="custIns" parameterType="mybatis.com.ict.edu.VO">
	 insert into customer(custid ,name,address,phone)
	 values(customer_seq.nextval , #{name} , #{address} , #{phone})
	 </insert>
	 
	 <delete id="custDel" parameterType="mybatis.com.ict.edu.VO">
	 delete from customer where custid = #{custid}
	 </delete>
	 
	 <update id="custUpdate" parameterType="mybatis.com.ict.edu.VO">
	 Update customer set name=#{name} , address=#{address} , phone=#{phone}
	 where custid = #{custid}
	 </update>
	 
</mapper>