<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
 
 <!--
 mybatis config 기본 틀 pdf파일에 양식있음
  config의 역활은 db의 접속주소 정보나 맵핑파일의 경로등 고정된 환경정보를 설정해줌
  driver 위치
  url db연결주소
  아이디 비밀번호 입력
 -->
<configuration>
 <environments default="development">
 <environment id="development">
 <transactionManager type="JDBC"/>
 <dataSource type="POOLED">
 <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
 <property name="url" value="jdbc:oracle:thin:@192.168.0.41:1521:xe"/>
 <property name="username" value="C##ysh"/>
 <property name="password" value="1111"/>
 </dataSource>
 </environment>
 </environments>
 <mappers>
 <mapper resource="mybatis/copy/mapper.xml"/>
 </mappers>
</configuration>