<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.example.BlogMapper">

<!-- mybatis mapper 클래스 기본 틀
 mybatis pdf파일에 있음
 mapper는 SQL문을 작성하는 곳 
 
 id 속성 : 외부(DAO)에 해당 태그를 지칭하는 (호출하는) 이름 , 중복안됨
	resultType 속성 : 결과에 대한 속성(select문은 95% VO속성이다)
	 select 문에서 집계함수를 사용하면 resultType은 int 이다.
	parameterType 속성 : #{컬럼명} 의 자료형 , 대부분 VO 속성이다.
	(파라메터타입이 VO가 아니면 전달하는 변수의 자료형이다)
	<select id="" resultType=""></select>
	 <select id="" resultType="" parmeterType = ""></select>
	 
	 결과값이 하나 이상이면 무조건 VO 타입
	 
	 resultType은 없다. 이유는 무조건 결과값이 int(숫자)
	 <update id="" parameterType=""</update>
	 <insert id="" parameterType=""</insert>
	 <delete id="" parameterType=""></delete>
 -->
 <select id="custList" resultType="mybatis.copy.VO">
 select * from customer order by custid
 </select>
 <select id="custOne" parameterType="String" resultType="mybatis.copy.VO">
 select * from customer where custid = #{custid}
 </select>
 
 <insert id="custIns" parameterType="mybatis.copy.VO">
 insert into customer(custid,name,address,phone)
 value(customer_seq.nextval , #{name} , #{address} , #{phone})
 </insert>
 
 <delete id="custDel" parameterType="mybatis.copy.VO">
 delete from customer where custid = #{custid}
 </delete>
 
 <update id="custUpdate" parameterType="mybatis.copy.VO">
 Update customer set name = #{name} , address = #{address} , phone = #{phone}
 where custid = #{custid}
 </update>
 
</mapper>
